/Debug/PrehProject.args
/Debug/PrehProject.elf
/Debug/PrehProject.map
/Debug/Project_Settings/Linker_Files/subdir.mk
/Debug/Project_Settings/Startup_Code/startup_SKEAZ1284.args
/Debug/Project_Settings/Startup_Code/startup_SKEAZ1284.o
/Debug/Project_Settings/Startup_Code/subdir.mk
/Debug/Project_Settings/Startup_Code/system_SKEAZ1284.args
/Debug/Project_Settings/Startup_Code/system_SKEAZ1284.d
/Debug/Project_Settings/Startup_Code/system_SKEAZ1284.o
/Debug/makefile
/Debug/makefile.local
/Debug/objects.mk
/Debug/sources.mk
/Debug/src/Application.args
/Debug/src/Application.d
/Debug/src/Application.o
/Debug/src/DDrvButton.args
/Debug/src/DDrvButton.d
/Debug/src/DDrvButton.o
/Debug/src/DDrvJoystick.args
/Debug/src/DDrvJoystick.d
/Debug/src/DDrvJoystick.o
/Debug/src/DDrvLeds.args
/Debug/src/DDrvLeds.d
/Debug/src/DDrvLeds.o
/Debug/src/GPIO_module.args
/Debug/src/GPIO_module.d
/Debug/src/GPIO_module.o
/Debug/src/LCD_Driver.args
/Debug/src/LCD_Driver.d
/Debug/src/LCD_Driver.o
/Debug/src/LDrvAdc.args
/Debug/src/LDrvAdc.d
/Debug/src/LDrvAdc.o
/Debug/src/UART.args
/Debug/src/UART.d
/Debug/src/UART.o
/Debug/src/clocks.args
/Debug/src/clocks.d
/Debug/src/clocks.o
/Debug/src/delay.args
/Debug/src/delay.d
/Debug/src/delay.o
/Debug/src/main.args
/Debug/src/main.d
/Debug/src/main.o
/Debug/src/pwm.args
/Debug/src/pwm.d
/Debug/src/pwm.o
/Debug/src/subdir.mk
